*~
*.#*
*#*#
*.swp
*.ipr
*.iml
*.iws
*.pyc
*.pyo
.idea/
.idea_modules/
build/*.jar
.settings
.cache
cache
.generated-mima*
work/
out/
.DS_Store
third_party/libmesos.so
third_party/libmesos.dylib
build/apache-maven*
build/zinc*
build/scala*
target/
reports/
.project
.classpath
.scala_dependencies
lib_managed/
src_managed/
project/boot/
project/plugins/project/build.properties
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
logs/
log/
